body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

@font-face {
    font-family: EnterSansman;
    src: url('assets/fonts/enter-sansman.bold.ttf');
}

* {
    font-family: EnterSansman;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between; 
}

li a {
    background-color: #424242;
    display: flex;
    color: #dad2d8;
    align-items: center;
    padding: 1rem 1rem;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
}
  
/* Change the background colour when mouse hovers over it 
and highlight active menu link */
li a:hover,
.active {
    background-color: #dad2d8;
    color:#424242;
}

img {
    width: 100%;
    height: auto;
}

.quarter {
    width:25%;
    display: table-cell;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* DEFAULT LAYOUT */

.header,
.footer {
    background-color: #424242;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.header{
    padding: 2vh 2vw;
  }

.logo {
    display: flex; 
    flex: 1;
    min-width: 100px;
    max-width: 125px; 
    margin-right: auto;
}


.navbar {
    display: flex; 
    justify-content: space-evenly;
    width:80%; 
    display:flex; 
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.main {
    display: flex;
    flex: 1;
    background-color: white; 
    color: black; 
}

.footer {
    margin-top: auto;
    padding: 1vh 2vw;
}

.footer .copyright {
    width: 45%; 
    margin-right: auto; 
    text-align: justify;
    font-size: 0.95rem;
}

.footer .disclaimer {
    width: 40%;
    margin-left: auto;
    text-align: justify; 
    font-size: 0.6rem;
}