<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="main-style.css">
    </head>

    <body>

        <div class="header">

            <!-- insert image at the top
            <span style="display:inline-block; width:30%;"; class="centre">
                <img src="/assets/images/logos/owhm_trans.png" style= "position:relative;" alt="Off With His Mask logo"/>
            </span>-->

            <!-- insert nav bar -->
            <div class="logo">
                <!-- note that pointer-events:none disables hover -->
                <a href="/">
                    <img src="/assets/images/logos/owhm_trans_lightgrey.png" alt="Off With His Mask logo"/>
                </a>
            </div>

            <div class="navbar">
                <ul>
                    <li><a class="{% if page.path contains 'index' %}active{% endif %}" href="/">Home</a></li>
                    <li><a class="{% if page.path contains 'about' %}active{% endif %}" href="/about/">About</a></li>
                    <li><a class="{% if page.path contains 'log' %}active{% endif %}" href="/armoury-officers-log/">Armoury Officer's Log</a></li>
                    <li><a class="{% if page.path contains 'comics' %}active{% endif %}" href="/photocomics/">PhotoComics</a></li>
                    <li><a class="{% if page.path contains 'artwork' %}active{% endif %}" href="/artwork/">Artwork</a></li>
                    <li><a class="{% if page.path contains 'contact' %}active{% endif %}" href="/contact-page/">Contact</a></li>
                </ul>
            </div>
        
        </div>


        <section class="main">
            {{ content }}
        </section>



        <div class="footer">
            <p class="copyright">&copy; 2022-2023 Off With His Mask. Powered by Jekyll.</p>
            <p class="disclaimer">Disclaimer: I do not own any of the Star Trek characters or lore, nor am I afffiliated with or endorsed or sponsored by CBS Studios Inc., Paramount Pictures Corporation or the Star Trek franchise. I am, however, indebted to its fabulous creators for giving me this wonderful world to play in.</p>
        </div>

    </body>
</html>