<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="/main-style.css">
    </head>

    <body>

        <header>

            <!-- insert image at the top
            <span style="display:inline-block; width:30%;"; class="centre">
                <img src="/assets/images/logos/owhm_trans.png" style= "position:relative;" alt="Off With His Mask logo"/>
            </span>-->

            <!-- insert nav bar -->
            <ul>
                <div style="display:inline-block; width:10%; margin:0%">
                    <li>
                        <!-- note that pointer-events:none disables hover -->
                        <a style="pointer-events:none" href="/">
                            <img src="/assets/images/logos/owhm_trans.png" style= "position:relative;" alt="Off With His Mask logo"/>
                        </a>
                    </li>
                </div>
                <div style="display:inline-block; width:5%; margin:0%">
                </div>
                <div style="width:80%; display:flex; align-items: center">
                    <li><a class="{% if page.path contains 'index' %}active{% endif %}" href="/">Home</a></li>
                    <li><a class="{% if page.path contains 'about' %}active{% endif %}" href="/about/">About</a></li>
                    <li><a class="{% if page.path contains 'log' %}active{% endif %}" href="/armoury-officers-log/">Armoury Officer's Log</a></li>
                    <li><a class="{% if page.path contains 'comics' %}active{% endif %}" href="/photocomics/">PhotoComics</a></li>
                    <li><a class="{% if page.path contains 'artwork' %}active{% endif %}" href="/artwork/">Artwork</a></li>
                    <li><a class="{% if page.path contains 'contact' %}active{% endif %}" href="/contact-page/">Contact</a></li>
                </div>
                <div style="display:inline-block; width:5%; margin:0%">
                </div>
            </ul>
    
            <!-- create a horizontal line -->
            <hr/>

        </header>

        <section>


            <!--- NEW FOR LOGS: Create vertical side bar -->
            <ul>
                <div style="width:10%; display:block;">
                    2022
                    <div style="width:10%;"><a class="{% if page.path contains 'May' %}active{% endif %}" href="/armoury-officers-log/22-May-04">4th - 11th May</a></div>
                </div>
                    <!--<li><a class="{% if page.path contains 'about' %}active{% endif %}" href="/about/">About</a></li>
                    <li><a class="{% if page.path contains 'log' %}active{% endif %}" href="/armoury-officers-log/">Armoury Officer's Log</a></li>
                    <li><a class="{% if page.path contains 'comics' %}active{% endif %}" href="/photocomics/">PhotoComics</a></li>
                    <li><a class="{% if page.path contains 'artwork' %}active{% endif %}" href="/artwork/">Artwork</a></li>
                    <li><a class="{% if page.path contains 'contact' %}active{% endif %}" href="/contact-page/">Contact</a></li>-->
            </ul>

            
            {{ content }}
        </section>



        <footer>
            <hr/>
            <p style="width: 45%; float: left; text-align:justify;">&copy; 2022-2023 Off With His Mask. Powered by Jekyll.</p>
            <p style="width: 40%; float: right; text-align:justify; font-size:xx-small;">Disclaimer: I do not own any of the Star Trek characters or lore, nor am I afffiliated with or endorsed or sponsored by CBS Studios Inc., Paramount Pictures Corporation or the Star Trek franchise. I am, however, indebted to its fabulous creators for giving me this wonderful world to play in.</p>
            <!--<hr/>-->
        </footer>

    </body>
</html>